.background{
    background-color: palevioletred;
    background-size: cover;
    border: 5px black solid;
    flex-wrap: wrap;
    width: 1500px;
    height: 1500px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 300px;
}
.ch{
    background-color: rgba(230, 200, 141, 0.899);
    height: 300px;
    width: 300px;
    text-align: center;
   overflow:auto;
   flex-direction: column;

}
h1{
    text-shadow: 2px 2px 2px rgb(255, 0, 115);
    box-shadow: 0px 3px 12px black;
    text-align: left;
}
p{
    box-shadow:0px 3px 12px black ;
}
img{
    box-shadow: 1px 5px 5px black;
}
